body {
    font-family: "Comfortaa", "sans-serif";
    font-size: 20px;
    line-height: normal;
    color: $brown;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}

.main_btn {
    padding: 30px 42px;
    background-color: $green;
    border-radius: 50px;
    max-width: 406px;
    border: none;
    font-size: 24px;
    color: $white;
    cursor: pointer;
}

.section-title {
    font-size: 48px;

}

.section-subtitle {
    color: $green;
    font-size: 24px;
}

