@import "const.scss";
@import "normalize.scss";
@import "global.scss";
@import "fonts.scss";


.header {
    padding: 37px 0px;
    background-color: $pink;

    &__container {
        display: flex;
        gap: 118px;
        align-items: center;

    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;

    }
}

.nav {
    &__list {
        align-items: center;
        display: flex;
        gap: 28px;
        max-width: 660px;
    }
}

.social {
    &__list {
        align-items: center;
        display: flex;
        gap: 20px;
    }
}

.preview {
    background-color: $pink;
    padding-bottom: 84px;
    &__container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url("../images/decoration_left.webp");
            background-repeat: no-repeat;
            width: 250px;
            height: 276px;
            left: -5px;
            top: 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 772px;
        padding: 147px 0 133px 90px;
    }

    &__title {
        font-family: "Sedan", sans-serif;
        font-size: 96px;
        font-weight: 400;
    }

    &__subtitle {
        align-self: flex-end;
        color: $green;
        font-size: 24px;
        margin-bottom: 52px;
    }

    &__text {
        line-height: 30px;
        max-width: 658px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-self: center;
        margin-bottom: 82px;
    }

    &__btn {
        align-self: flex-start;

    }

    &__image-top {
        position: absolute;
        top: 68px;
        z-index: 2;
        right: 20px;
    }

    &__image-bottom {
        position: absolute;
        bottom: 0px;
        right: 30%;
        z-index: 1;
    }
}

.about {
    padding-bottom: 84px;
    background-color: $lightPink;
    span:last-child{
        align-self: flex-end;
    }
    &__title{
        display: flex;
        flex-direction: column;
        padding-top: 85px;
        padding-left: 114px;
        max-width: 850px;
        margin-bottom: 125px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 132px;
        padding-left: 40px;

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 60px;
        max-width: 245px;
        
    }

    &__item {
        position: relative;

        &::before {
            content: url(../images/marker_leaf.svg);
            position: absolute;
            left: -60px;
            top: 0;
        }
    }
}