<section class="about" id="about">
    <div class="container">
        <h2 class="about__title section-title"><span>Косметика из натуральных</span> <span>ингредиентов</span></h2>
        <div class="about__wrapper">
            <ul class="about__list">
                <li class="about__item">Оrganic Harmony - российский бренд натуральной косметики на основе циолита</li>
                <li class="about__item">Эффективность наших косметических средств подтверждена лабораторными
                    исследованиями врачей-косметологов и тысячами довольных клиентов</li>
                <li class="about__item">Наша уходовая косметика подходит чувствительный и склонной к аллергиям кожи</li>
            </ul>
            <picture>
                <source srcset="../images/cosmetic.avif" type="image/avif">
                <source srcset="../images/cosmetic.webp" type="image/webp">
                <img src="../images/cosmetic.png" alt="Косметика." class="about__image">
            </picture>
            <ul class="about__list">
                <li class="about__item">Наша продукция изготавливается без использования каких-либо химических средств
                </li>
                <li class="about__item">Вся линейка косметики производится
                    с использованием уникальных ингредиентов: родниковая вода, горные травы, продукты пчеловодства </li>
                <li class="about__item">Мы не тестируем нашу косметику на животных</li>
            </ul>
        </div>
    </div>
</section>