<section class="bestseller">
    <div class="container">
        <header class="bestseller__header">
            <h2 class="bestseller__title section-title">Наши бестселлеры</h2>
            <p class="bestseller__subtitle section-subtitle">Здесь мы собрали наши бестселлеры, которые Вы можете
                бесплаптно
                протестировать в наших магазинах </p>
        </header>
        <div class="bestseller__swiper">
            <ul class="bestseller__list swiper-wrapper">
                <li class="bestseller__item swiper-slide">
                    <a href="#" class="bestseller__link">
                        <picture>
                            <source srcset="../images/bestseller_1.avif" type="image/avif">
                            <source srcset="../images/bestseller_1.webp" type="image/webp">
                            <img src="../images/bestseller_1.png" alt="Косметика." class="bestseller__image">
                        </picture>
                        <h3 class="bestseller__item-title">Мыло ручной работы</h3>
                        <p class="bestseller__item-subtitle">Мыло из натурального козьего молока наполнено жирными
                            кислотами
                            и минералами. Благодаря которым, твердое мыло имеет нежную кремообразную консистенцию. </p>
                        <div class="bestseller__wrapper">
                            <span class="bestseller__weight">200мг</span>
                            <span class="bestseller__price">560р.</span>
                        </div>
                    </a>
                </li>
                <li class="bestseller__item swiper-slide">
                    <a href="#" class="bestseller__link">
                        <picture>
                            <source srcset="../images/bestseller_2.avif" type="image/avif">
                            <source srcset="../images/bestseller_2.webp" type="image/webp">
                            <img src="../images/bestseller_2.png" alt="Косметика." class="bestseller__image">
                        </picture>
                        <h3 class="bestseller__item-title">Масло-гель для душа</h3>
                        <p class="bestseller__item-subtitle">В формулу масла добавлен купаж экстрактов алое вера,
                            испанской
                            вишни, чая белого, центеллы азиатской, отвечающий за увлажнение, восстановление
                            и повышение эластичности кожи </p>
                        <div class="bestseller__wrapper">
                            <span class="bestseller__weight">300мг</span>
                            <span class="bestseller__price">900р.</span>
                        </div>
                    </a>
                </li>
                <li class="bestseller__item swiper-slide">
                    <a href="#" class="bestseller__link">
                        <picture>
                            <source srcset="../images/bestseller_3.avif" type="image/avif">
                            <source srcset="../images/bestseller_3.webp" type="image/webp">
                            <img src="../images/bestseller_3.png" alt="Косметика." class="bestseller__image">
                        </picture>
                        <h3 class="bestseller__item-title">Твердое масло для тела</h3>
                        <p class="bestseller__item-subtitle">Баттер-суфле для тела из органического масла какао, масла
                            ши,
                            масла кокосового и масла миндаля глубоко увлажняет и питает кожу, делает её более гладкой,
                            мягкой и напитанной </p>
                        <div class="bestseller__wrapper">
                            <span class="bestseller__weight">180мг</span>
                            <span class="bestseller__price">680р.</span>
                        </div>
                    </a>
                </li>
                <li class="bestseller__item swiper-slide">
                    <a href="#" class="bestseller__link">
                        <picture>
                            <source srcset="../images/bestseller_1.avif" type="image/avif">
                            <source srcset="../images/bestseller_1.webp" type="image/webp">
                            <img src="../images/bestseller_1.png" alt="Косметика." class="bestseller__image">
                        </picture>
                        <h3 class="bestseller__item-title">Мыло ручной работы</h3>
                        <p class="bestseller__item-subtitle">Мыло из натурального козьего молока наполнено жирными
                            кислотами
                            и минералами. Благодаря которым, твердое мыло имеет нежную кремообразную консистенцию. </p>
                        <div class="bestseller__wrapper">
                            <span class="bestseller__weight">200мг</span>
                            <span class="bestseller__price">560р.</span>
                        </div>
                    </a>
                </li>
                <li class="bestseller__item swiper-slide">
                    <a href="#" class="bestseller__link">
                        <picture>
                            <source srcset="../images/bestseller_1.avif" type="image/avif">
                            <source srcset="../images/bestseller_1.webp" type="image/webp">
                            <img src="../images/bestseller_1.png" alt="Косметика." class="bestseller__image">
                        </picture>
                        <h3 class="bestseller__item-title">Мыло ручной работы</h3>
                        <p class="bestseller__item-subtitle">Мыло из натурального козьего молока наполнено жирными
                            кислотами
                            и минералами. Благодаря которым, твердое мыло имеет нежную кремообразную консистенцию. </p>
                        <div class="bestseller__wrapper">
                            <span class="bestseller__weight">200мг</span>
                            <span class="bestseller__price">560р.</span>
                        </div>
                    </a>
                </li>
                <li class="bestseller__item swiper-slide">
                    <a href="#" class="bestseller__link">
                        <picture>
                            <source srcset="../images/bestseller_1.avif" type="image/avif">
                            <source srcset="../images/bestseller_1.webp" type="image/webp">
                            <img src="../images/bestseller_1.png" alt="Косметика." class="bestseller__image">
                        </picture>
                        <h3 class="bestseller__item-title">Мыло ручной работы</h3>
                        <p class="bestseller__item-subtitle">Мыло из натурального козьего молока наполнено жирными
                            кислотами
                            и минералами. Благодаря которым, твердое мыло имеет нежную кремообразную консистенцию. </p>
                        <div class="bestseller__wrapper">
                            <span class="bestseller__weight">200мг</span>
                            <span class="bestseller__price">560р.</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="wrapper">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>  
            </div>
        </div>
        <button class="bestseller__btn main_btn" data-path="one">Проконсультироваться</button>
    </div>
</section>