<section class="faq" id="faq">
    <div class="container">
        <header class="faq__header">
            <h2 class="faq__title section-title">Советы косметолога</h2>
            <p class="faq__subtitle section-subtitle">Отвечаем на популярные вопросы</p>
        </header>
        <div class="faq__content">
            <ul class="faq__list">
                <li class="faq__item">
                    <button class="faq__btn">
                        <span class="faq__btn-text">1. Чем отличается натуральная косметика от обычной?</span>
                        <div class="faq__btn-plus"></div>
                    </button>
                    <div class="faq__text">
                        Натуральная косметика гораздо лучше принимается организмом, не нанося при этом вредного
                        воздействия. Она не содержит искусственных добавок, красителей, консервантов, синтетических
                        ароматизаторов, продуктов генной инженерии, что дает возможность использовать ее обладателям
                        чувствительной кожи.
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn">
                        <span class="faq__btn-text">2. Как правильно хранить натуральную косметику? </span>
                        <div class="faq__btn-plus"></div>
                    </button>
                    <p class="faq__text">
                        Натуральные кремы и другую косметику, которые вы пока не начали использовать, нужно хранить в
                        темном месте (например, в шкафчике). А открытые тюбики, флаконы и баночки хранят на дверце
                        холодильника, так как при комнатной температуре и при контакте с воздухом косметика портится
                        раньше срока.
                    </p>
                </li>
                <li class="faq__item">
                    <button class="faq__btn">
                        <span class="faq__btn-text">3. Как понять подходит ли мне эта косметика?</span>
                        <div class="faq__btn-plus"></div>
                    </button>
                    <div class="faq__text">
                        <ul>
                            <li>Косметика не скатывается</li>
                            <li>Не появляется ощущения стянутости</li>
                            <li>Не меняется оттенок кожи</li>
                            <li>Кожа не становится более жирной, на ней не появляются прыщи</li>
                            <li>Не появляется чувства сухости кожи</li>
                            <li>Не возникает покраснения, зуда и сыпи</li>
                            <li>Не выпадают ресницы и не краснеют веки</li>
                        </ul>
                    </div>

                </li>
                <li class="faq__item">
                    <button class="faq__btn">
                        <span class="faq__btn-text">4. Как определить свой тип кожи?
                        </span>
                        <div class="faq__btn-plus"></div>
                    </button>
                    <div class="faq__text">
                        <ol>
                            <li>Сухая – жирных следов на салфетке нет.</li>
                            <li>Нормальная – слабые отпечатки кожного сала присутствуют в области подбородка, носа и
                                лба.</li>
                            <li>Комбинированная – отчетливые жирные пятна в местах, соответствующих Т-зоне.</li>
                            <li>Жирная – сальные пятна обнаружены как в Т-зоне, так и в области щек.</li>
                        </ol>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn">
                        <span class="faq__btn-text">5. Что должно входить в базовый уход за кожей?</span>
                        <div class="faq__btn-plus"></div>
                    </button>
                    <div class="faq__text">
                        <ul>
                            Принципы базового ухода за кожей
                            <li>1-й этап: Очищение</li>
                            <li>3-й этап: Детоксикация</li>
                            <li>4-й этап: Увлажнение</li>
                            <li>5-й этап: Антиоксидантная защита</li>
                            <li>6-й этап: Защита от ультрафиолета</li>
                        </ul>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn">
                        <span class="faq__btn-text">6. Может ли слишком активный уход навредить коже?</span>
                        <div class="faq__btn-plus"></div>
                    </button>
                    <div class="faq__text">
                        Для относительно здоровой кожи не нужно использовать большое количество уходовых средств.
                        Достаточно очищения, увлажнения и защиты от солнца. Слишком активный уход может вызывать
                        раздражение кожи.
                    </div>
                </li>
            </ul>
            <aside class="faq__about-doctor">
                <figure>
                    <picture>
                        <source srcset="../images/doctor_advice.avif" type="image/avif">
                        <source srcset="../images/doctor_advice.webp" type="image/webp">
                        <img src="../images/doctor_advice.png" alt="Доктор." class="faq__image">
                    </picture>
                    <figcaption>
                        <span class="faq__doctor-title section-subtitle">Екатерина Иванова</span>
                        <span class="faq__doctor-subtitle ">Ведущий косметолог <em>Organic Harmony</em></span>
                    </figcaption>
                </figure>

            </aside>
        </div>
    </div>
</section>