<div class="modals">
    <div class="modal-overlay">
        <div class="modal modal--1" data-target="one">
            <h3 class="modal__title">Получить бесплатную консультацию</h3>
            <input type="text" class="modal__input">
            <input type="tel" class="modal__input">
            <p class="modal__text">*Наш менеджер свяжется с Вами</p>
            <button class="main_btn modal__btn">Проконсультироваться</button>
        </div>
    </div>
</div>
<script src="js/main.min.js"></script>
</body>

</html>