<div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="first">
        <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content">
            <!-- контент модального окна -->
            <h3 class="graph-modal__content__title">Получить бесплатную консультацию</h3>
            <input type="text" class="graph-modal__content__input " placeholder="Имя" required>
            <input type="tel" class="graph-modal__content__input " placeholder="Номер телефона" required>
            <p class="graph-modal__content__text">*Наш менеджер свяжется с Вами</p>
            <button class="main_btn graph-modal__content__btn" data-graph-path="exit">Проконсультироваться</button>
        </div>
    </div>
    <div class="graph-modal__container exit__container" role="dialog" aria-modal="true" data-graph-target="exit">
        <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__exit">
            <!-- контент модального окна -->
            <h3 class="graph-modal__exit-title">Ваша заявка принята!</h3>
            <p class="graph-modal__exit-text">Наш менеджер скоро свяжется с Вами!</p>
        </div>
    </div>
</div>
<script src="js/graph-modal.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>