<section class="preview">
    <div class="container preview__container">
        <div class="preview__wrapper">
            <h1 class="preview__title">Organic Harmony</h1>
            <p class="preview__subtitle">Натуральная эко косметика</p>
            <p class="preview__text"><span>Мы даем людям красоту, молодость и здоровье, используя натуральные природные
                    решения,
                    избавив от необходимости применять химическую косметику</span>
                <span>Вы можете бесплатно протестировать наши бестселлеры у нас в магазинах:</span>
            </p>
            <button class="preview__btn main_btn">Проконсультироваться</button>
        </div>
        <picture>
            <source srcset="../images/main_content.avif" type="image/avif">
            <source srcset="../images/main_content.webp" type="image/webp">
            <img src="../images/main_content.png" alt="Ароматические средства." class="preview__image-top">
        </picture>
        <picture>
            <source srcset="../images/main_content_2.avif" type="image/avif">
            <source srcset="../images/main_content_2.webp" type="image/webp">
            <img class="preview__image-bottom" src="../images/main_content_2.png" alt="Ароматические средства.">
        </picture>
    </div>

</section>