<section class="review" id="review">
    <div class="container">
        <header class="review__header">
            <h2 class="review__title section-title">Отзывы</h2>
            <p class="review__subtitle section-subtitle">Мнение клиентов о продукции</p>
        </header>
        <div class="review__wrapper">
            <div class="review__swiper">

                <ul class="review__list swiper-wrapper">
                    <li class="review__item swiper-slide">
                        <picture>
                            <source srcset="../images/client_1.avif" type="image/avif">
                            <source srcset="../images/client_1.webp" type="image/webp">
                            <img src="../images/client_1.png" alt="Клиент магазина." class="review__image">
                        </picture>
                        <p class="review__rating" aria-label="Rating is 5 out of 5">
                            <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="star">
                                    <path
                                        d="M10 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L10 13.82l-5.878 4.27 2.245-6.91L.49 6.91h7.266L10 0z"
                                        fill="#B39016" />
                                </symbol>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </p>
                        <p class="review__text">Многофункциональные, оригинальные и совершенно безопасные средсва, они
                            очень
                            удивят вас визуально и приятно порадуют результатом. Однозначно рекомендую!</p>
                        <p class="review__name">Даша</p>
                    </li>
                    <li class="review__item swiper-slide">
                        <picture>
                            <source srcset="../images/client_2.avif" type="image/avif">
                            <source srcset="../images/client_2.webp" type="image/webp">
                            <img src="../images/client_2.png" alt="Клиент магазина." class="review__image">
                        </picture>
                        <p class="review__rating" aria-label="Rating is 5 out of 5">
                            <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="star">
                                    <path
                                        d="M10 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L10 13.82l-5.878 4.27 2.245-6.91L.49 6.91h7.266L10 0z"
                                        fill="#B39016" />
                                </symbol>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </p>
                        <p class="review__text">Очень добрые консультанты. Постоянно покупаю уходовую косметику в
                            Organic
                            Harmony и еще не разу не пожалела. Особенно нравится крем для сухой кожи лица</p>
                        <p class="review__name">Маша</p>
                    </li>
                    <li class="review__item swiper-slide">
                        <picture>
                            <source srcset="../images/client_3.avif" type="image/avif">
                            <source srcset="../images/client_3.webp" type="image/webp">
                            <img src="../images/client_3.png" alt="Клиент магазина." class="review__image">
                        </picture>
                        <p class="review__rating" aria-label="Rating is 5 out of 5">
                            <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="star">
                                    <path
                                        d="M10 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L10 13.82l-5.878 4.27 2.245-6.91L.49 6.91h7.266L10 0z"
                                        fill="#B39016" />
                                </symbol>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </p>
                        <p class="review__text">Впервые попробовала косметику Organic Harmony в 2019 году и влюбилась.
                            Тогда
                            мне помог справиться с высыпаниями базовый уходовый комплект для кожи, склонной к жирности.
                            Алена</p>
                        <p class="review__name">Алена</p>
                    </li>
                    <li class="review__item swiper-slide">
                        <picture>
                            <source srcset="../images/client_1.avif" type="image/avif">
                            <source srcset="../images/client_1.webp" type="image/webp">
                            <img src="../images/client_1.png" alt="Клиент магазина." class="review__image">
                        </picture>
                        <p class="review__rating" aria-label="Rating is 5 out of 5">
                            <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="star">
                                    <path
                                        d="M10 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L10 13.82l-5.878 4.27 2.245-6.91L.49 6.91h7.266L10 0z"
                                        fill="#B39016" />
                                </symbol>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </p>
                        <p class="review__text">Многофункциональные, оригинальные и совершенно безопасные средсва, они
                            очень
                            удивят вас визуально и приятно порадуют результатом. Однозначно рекомендую!</p>
                        <p class="review__name">Даша</p>
                    </li>
                    <li class="review__item swiper-slide">
                        <picture>
                            <source srcset="../images/client_2.avif" type="image/avif">
                            <source srcset="../images/client_2.webp" type="image/webp">
                            <img src="../images/client_2.png" alt="Клиент магазина." class="review__image">
                        </picture>
                        <p class="review__rating" aria-label="Rating is 5 out of 5">
                            <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="star">
                                    <path
                                        d="M10 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L10 13.82l-5.878 4.27 2.245-6.91L.49 6.91h7.266L10 0z"
                                        fill="#B39016" />
                                </symbol>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </p>
                        <p class="review__text">Очень добрые консультанты. Постоянно покупаю уходовую косметику в
                            Organic
                            Harmony и еще не разу не пожалела. Особенно нравится крем для сухой кожи лица
                            Маша</p>
                        <p class="review__name">Маша</p>
                    </li>
                    <li class="review__item swiper-slide">
                        <picture>
                            <source srcset="../images/client_3.avif" type="image/avif">
                            <source srcset="../images/client_3.webp" type="image/webp">
                            <img src="../images/client_3.png" alt="Клиент магазина." class="review__image">
                        </picture>
                        <p class="review__rating" aria-label="Rating is 5 out of 5">
                            <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="star">
                                    <path
                                        d="M10 0l2.245 6.91h7.266l-5.878 4.27 2.245 6.91L10 13.82l-5.878 4.27 2.245-6.91L.49 6.91h7.266L10 0z"
                                        fill="#B39016" />
                                </symbol>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                            <svg class="review__star" width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </p>
                        <p class="review__text">Впервые попробовала косметику Organic Harmony в 2019 году и влюбилась.
                            Тогда
                            мне помог справиться с высыпаниями базовый уходовый комплект для кожи, склонной к жирности.
                            Алена</p>
                        <p class="review__name">Алена</p>
                    </li>
                </ul>

            </div>
            <div class="review__prev swiper-button-prev "></div>
            <div class="review__next swiper-button-next "></div>
        </div>
        <div class="review__pag swiper-pagination"></div>
    </div>
</section>